/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark); }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }

.scroll-bar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  background-color: #fff;
  flex: 1; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search_input {
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 100px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    margin-right: -3.5rem;
    padding: .7rem 2rem;
    width: 90%;
    transition: all .2s; }
    .search_input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search_input::placeholder {
      color: var(--color-grey-light-4);
      font-weight: 100; }
  .search_input:focus + .search_btn {
    background-color: var(--color-grey-light-3); }
  .search_btn {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search_btn:focus {
      outline: none; }
    .search_btn:active {
      transform: translateY(2px); }
  .search_icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

.nav {
  display: flex;
  align-items: center;
  align-self: stretch; }
  .nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .nav > *:hover {
    background-color: var(--color-grey-light-2); }
  .nav_icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2); }
  .nav_user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.side_nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  .side_nav-item {
    position: relative; }
    .side_nav-item:not(:last-child) {
      margin-bottom: .5rem; }
  .side_nav-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s; }
  .side_nav-item:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .side_nav-link:link, .side_nav-link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
  .side_nav-icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }

.legal {
  color: var(--color-grey-light-4);
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem; }
